@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

html {
  height: 100%;
  background-color: #BBDEFB;
}

body {
  color: #FFFFFF;
  background-color: #BBDEFB;
  font-family: 'Kosugi Maru', sans-serif;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  padding: 0 5%;
  background-color: #2962FF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  z-index: 2;
}

#header span {
  font-size: 20px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

form {
  width: 90%;
  box-sizing: border-box;
  padding: 10px 10%;
  border-radius: 4px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  background-color: #e6efff;
}

.m-form-select select, #date div {
  background-color: #448AFF;
}

#cal {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  border-radius: 4px;
}

#cal iframe {
  padding: 5px;
  border-radius: 4px;
  background-color: #e6efff;
  background-color: rgb(227, 233, 255);
}

.m-form-select {
  position: relative;
  text-align-last: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-form-select:before, #date div:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 12px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
  transform: rotate(135deg);
  pointer-events: none;
}

.m-form-select select {
  width: 100%;
  padding: 0 8px;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  height: 100%;
}

.m-form-select select::-ms-expand {
  display: none;
}

#date {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  z-index: 1;
}

#date #actingin:focus + div, .m-form-select select:focus {
  outline: 0;
  /* box-shadow: 0 0 0 2px #0D47A1 inset; */
  box-shadow: 0 0 0 2px hsl(37, 100%, 63%) inset;
}

#date #actingin{
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 2;
  position: absolute;
  border: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#date div {
  z-index: 1;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.m-form-select, #date, #submit {
  width: 100%;
  height: calc(100%/10);
}

#takeYear, #takeMonth, #takeDay, #takefull {
  /* visibility: hidden; */
  display: none;
}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

#submitButton {
  background-color: #0D47A1;
  border: none;
  color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  border-radius: 4px;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#submitButton:active {
  opacity: 0.5;
}
